{% extends 'wagtailadmin/reports/base_report.html' %}
{% load i18n wagtailadmin_tags %}

{% block results %}
  {% if object_list %}
    <table class="listing">
      <thead>
        <tr>
          <th>{% trans 'Source title' %}</th>
          <th>{% trans 'Locale' %}</th>
          <th>{% trans 'Source last updated at' %}</th>
          <th>{% trans 'User' %}</th>
          <th>{% trans 'LanguageCloud ID' %}</th>
          <th>{% trans 'LanguageCloud Status' %}</th>
          <th>{% trans 'Wagtail Status' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for file in object_list %}
        <tr>
          <td>
            {% if file.project.translation_source_object.full_url %}
              <a href="{{ file.project.translation_source_object.full_url }}">
                {{ file.project.translation_source_object }}
              </a>
            {% else %}
              {{ file.project.translation_source_object }}
            {% endif %}
          </td>
          <td>{{ file.translation.target_locale }}</td>
          <td>
              <div class="human-readable-date" title="{{ file.project.source_last_updated_at|date:"DATETIME_FORMAT" }}">{% blocktrans with time_period=file.project.source_last_updated_at|timesince %}{{ time_period }} ago{% endblocktrans %}</div>
          </td>
          <td>{% include "wagtailadmin/shared/user_avatar.html" with user=file.project.lc_settings.user username=file.project.lc_settings.user_display_name %}</td>
          <td>
            {% if file.project.lc_project_id %}
              <a href="{{ file.project.languagecloud_frontend_url }}">{{ file.project.lc_project_id }}</a>
            {% else %}
              &nbsp;
            {% endif %}
          </td>
          <td>{{ file.project.lc_project_status_label }}</td>
          <td>{{ file.combined_status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>{% trans "No projects found." %}</p>
  {% endif %}
{% endblock %}
